{% extends 'main/base.html' %}
{% block content %}
<a class="back" href="{% url 'profile' %}">Go back</a>
<form method="POST">
    {%csrf_token%}
    {% if not p.dob %}
    Enter your date of birth.<br>
    <input type="datetime-local" name="dob" value="{{p.dob}}"></input><br>
    {% endif %}
    Enter any medical conditions you have.<br>
    <input type="text" name="conditions" value="{{p.medcond}}"></input><br>
    Enter your phone number.<br>
    <input type="text" name="phone" value="{{p.phone}}"></input><br>
    <button type="submit">Submit</button>

</form>

{% endblock content %}