{% extends 'main/base.html' %}

{% block content %}
<a class="back" href="{% url 'home' %}">Go Back</a>
<h1>Here are your doctors.</h1>
<p>You can add or remove doctors that can access your records and prescribe you medicine.</p>
<p>If you remove access to a doctor, they will no longer have access to your medical profile or history unless you
    re-add them.</p>

<form action="{% url 'add' %}" method="get">
    <input type="text" name="name" placeholder="Search a name">
    <button type="submit">Add</button>
</form>

{% if message %}
{{ message }}
{% endif %}

<div class="grid-container">
    {% for doctor in doctors %}
    <div class="card">
        <a href="{% url 'docprof' doctor.user.username %}">
            <!-- TODO PROFILE IMAGE -->
            <span class="card-title">{{ doctor.user.username }}</span>
        </a>
        <span>Working for Grady Hospital in Atlanta, GA. Graduated from Georgia Tech in 2050.</span>
        <a href="{% url 'remove' doctor.user.username %}">
            <svg xmlns="http://www.w3.org/2000/svg" class="link-icon" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
            <span class="norm-link">Remove access</span>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock content %}