{% extends 'main/base.html' %}

{% block content %}
<h1>Log in to BitMedic</h1>
<p>Get on-demand access to your medical profile, prescription history, and more.</p>

<div>
    <form method="POST">
        {%csrf_token%}
        <br>
        <h3>Username:</h3>
        {{form.username}} <br> <br>
        <h3>Password:</h3>
        {{form.password}} <br> <br>
        <input class="button" type="submit" value="Login">
    </form>

    <p><b>New to BitMedic?</b> <a class="norm-link" href="{% url 'register' %}">Create a new profile</a>.</p>
</div>
{% endblock content %}